.img {
    background: url("C:\Users\Sadia\Desktop\MSWD\sdp\sdp\frontendapp\sdpreactapp\src\main\photo_2024-04-27_06-14-08.jpg") no-repeat;
    width: 120vh; /* Remove width to maintain the original size of the image */
    height: 100vh; /* Adjusted to cover the full height of the viewport */
    background-size: contain; /* Use contain to fit the image within the container */
    background-position: center; /* Position the background image to the left and center vertically */
    position: fixed; /* Use fixed positioning to ensure the image stays in the background */
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  .img2 {
    background: url("https://i.pinimg.com/564x/e8/13/e6/e813e634a9a945912fc25f8b5785961e.jpg") no-repeat; /* Replace "path_to_your_second_image.jpg" with the path to your second image */
    width: 120vh;
    height: 100vh;
    background-size: contain;
    background-position: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0; /* Adjust the position of the second image to the right side */
    z-index: -1;
  }
  
  .img::before,
  .img::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 45%;
    padding: 0 50px;
    text-align: left;
  }
  
  .center .title {
    color: #ed1010;
    font-size: 55px;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    margin: 30px auto 0; /* Adjust the top margin to move the text down */
  }
  
  
  .center .sub_title {
    color: black;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Playfair Display', serif;
    text-align: left;
    margin-top: -30px; /* Adjust the top margin to move the text down */
  
  }
  
  .center .btns {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .center .btns a {
    height: 55px;
    width: 170px;
    border-radius: 10px;
    border: none;
    margin: 0 10px;
    border: 2px solid rgb(230, 22, 22);
    font-size: 20px;
    font-weight: 300;
    padding: 8px 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
  }
  
  .center .btns a:first-child {
    color: #fff;
    background: none;
  }
  
  .btns a:first-child:hover {
    background: white;
    color: black;
  }
  
  .center .btns a:last-child {
    background: white;
    color: black;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }